@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.default {
  display: flex;
  align-items: flex-start;
  a{
    text-decoration: none;
    font-size: 2.4rem;
    color:$black;
    display: block;
    margin-right: 1.5rem;
  }
}

.spacer{
  flex: 1;
}