@import '../../../../styles/variables';
@import '../../../../styles/mixins';

@keyframes glow {
  0% {
    box-shadow: 12rem 8rem 4rem 2rem rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.1);
  }
  70% {
    box-shadow: none;
  }
  100% {
    box-shadow: 12rem 8rem 4rem 2rem rgba(0, 0, 0, 0.4), 0 6px 50px 0 rgba(0, 0, 0, 0.3);
  }
}

.close{
  position: absolute;
  top:2.5rem;
  right:2.5rem;
  @include background(5);
  border: none;
  font-size: 3.2rem;
  text-align: center;
  margin:0;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  transition-delay: 500ms;
  transition-property: transform;
  transition-duration: 500ms;
}

.confidential{
  padding:0;
  text-align: center;
  svg{
    color:$darkgray-dark;
    font-size: 4.8rem;
  }
  p{
    color:$lightgray-dark;
    margin-bottom: 2.5rem;
  }
  a{
    display: inline-block;
    text-decoration: none;
    background: $bluejeans-light;
    color:$white;
    padding:1.5rem 2.5rem;
  }
}

.dates{
  color:$mediumgray-dark;
  margin: 0;
  font-size: 1rem;
}

.description{
  @include background(3);
  color:$white;
  transition:top .25s ease-out;

  blockquote{
    font-size: 1.6rem;
    padding:2.5rem;
    margin:0;
    line-height: 1.5;
  }
}

.descriptionExpanded{
  @extend .description;
  top:9%;
  transition:top .25s ease-out;
  overflow-y: hidden;
}

.detail{
  @include background(1);
}

.detailWrapper{
  overflow: auto;
  width:0;
  height: 100%;
  position: fixed;
  top:0;
  bottom:0;
  right:0;
  margin:0;
  padding:0;
  transition: width 500ms ease-out;
  height: 100vh;
  @include background(1);
  box-shadow: 12rem 8rem 4rem 2rem rgba(0, 0, 0, 0.4), 0 6px 50px 0 rgba(0, 0, 0, 0.3);
  //animation: glow 1s steps(3) 1;
}

.detailWrapperOpen{
  @extend .detailWrapper;
  height: 100vh;
  width:100vw;
}

.header{
  @include background(3);
  padding:2.5rem;
}

.icon{
  svg{
    font-size: 1.6rem;
    margin-right: 1.5rem;
  }
}

.maximize{
  border:none;
  background: none;
  padding:0;
  margin:0;
  font-size: 3.2rem;
  position: absolute;
  top:2.5rem;
  right:2.5rem;
}

.open{
  @extend .close;
  transform: rotate(180deg);
  transition-delay: 500ms;
  transition-property: transform;
  transition-duration: 500ms;
}

.screenshot{
  margin:2.5rem 2.5rem 0 2.5rem;
  height: 42vh;
  border-top-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;
  padding:4rem 1rem 0 1rem;
 @include background(5);
}

.screenshotScreen{
  height: 100%;
  overflow: auto;
  img{
    width:100%;
    height: auto;
    box-shadow: 0 0 3rem 0 rgba($white, 0.15), 0 0 5rem 0 rgba($white, 0.05);
  }
}

.skills{
  padding:2.5rem;
  @include background(2);
  margin:0;
  list-style: none;
  overflow: auto;
  li{
    display: flex;
    margin-bottom: 1.5rem;
    color:$mediumgray-light;
  }
}

.subtitle{
  margin:0 0 .5rem 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding:0;
  color:$mediumgray-light;
  small{
    font-size: 1.2rem;
    color:$mediumgray-dark;
    display: block;
  }
}

.tech{
  color:$mediumgray-dark;
  padding:2.5rem;
  @include background(1);
  margin:0;
}

.title{
  margin:0;
  color:$white;
  font-size: 3.2rem;
  padding:0;
  text-transform: uppercase;
}

@include tablet{
  .detailWrapperOpen{
    width:$tabletWidth * .75;
  }
  .title{
    margin:0;
    color:$white;
    font-size: 4.8rem;
    padding:0;
    text-transform: uppercase;
  }
}