@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.colorButton{
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin:0 .5rem 0 0;
  padding:0;
  display: flex;
  @include background(1);
  border:none;

  strong{
    display: block;
    height: 4rem;
    width:2rem;
  }
  em{
    display: block;
    height: 2rem;
    width: 2rem;
  }
}

.colorButton-bluejeans{
  @extend .colorButton;
  strong{
    background: $bluejeans-dark;
  }
  em{
    background: $bluejeans-light;
  }
}

.colorButton-grapefruit{
  @extend .colorButton;
  strong{
    background: $grapefruit-dark;
  }
  em{
    background: $grapefruit-light;
  }
}

.colorButton-mint{
  @extend .colorButton;
  strong{
    background: $mint-dark;
  }
  em{
    background: $mint-light;
  }
}

.colorButton-sunflower{
  @extend .colorButton;
  strong{
    background: $sunflower-dark;
  }
  em{
    background: $sunflower-light;
  }
}

.colorButton-white{
  @extend .colorButton;
  strong{
    background: $white;
  }
  em{
    background: $lightgray-dark;
  }
}

.colorLabel{
  display: block;
  font-size: 2.4rem;
  margin: .3rem 0 0 0;
  border:none;
  background: none;
}

.colorList{
  display: flex;
  position: absolute;
  top:0rem;
  right:0;
  padding:1.5rem;
  width:100%;
  @include background(5);
  transition: height .25s ease-out;
}

.colorListHidden{
  width:0;
  height: 0;
  overflow: hidden;
  margin:0;
}

.colorSelector{
  display: flex;
  flex-direction: row;
}
