@import '../../../styles/variables';
@import '../../../styles/mixins';

.avatar{
  height: 10rem;
  width: 10rem;
  margin-bottom:2.5rem;
  border-radius: 50%;
  background-image: url('/images/me.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.connect{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  padding:2.5rem 5rem;

  a{
    text-decoration: none;
    font-size: 2.4rem;
    color:$black;
    display: inline-block;
    margin-right: 1.5rem;
  }
}

.footer{
  position: absolute;
  bottom:5rem;
  left:5rem;
  right:5rem;
}

.lead{
  font-size: 1.4rem;
  margin: .5rem 0 2.5rem 0;
}

.license{
  display: flex;
  text-decoration: none;
  font-size: 1.2rem;
  color:rgba($white, 0.5);
  svg{
    font-size: 3.6rem;
    margin-right: 1rem;
  }
}

.main {
  min-height: 100vh;
  width:100vw;
  padding:2.5rem;
  position: relative;
}

.mainContent{
  margin-top: 40%;
}

.main-bluejeans{
  @extend .main;
  background: $bluejeans-dark;
}

.main-grapefruit{
  @extend .main;
  background: $grapefruit-dark;
}

.main-mint{
  @extend .main;
  background: $mint-dark;
}

.main-sunflower{
  @extend .main;
  background: $sunflower-dark;
}

.main-white{
  @extend .main;
  background: $white;
}

.title{
  width:100%;
  margin: 0;
  font-size: 3.6rem;
  font-weight: bold;
  text-transform: uppercase;
  small{
    display: block;
    font-size: 1.8rem;
    text-transform: lowercase;
  }
}

@include tablet{
  .main{
    width: auto;

  }
  .title{
    font-size: 6.4rem;
    small{
      font-size: 2.8rem;
    }
  }
  .lead{
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }

  .license{
    position: absolute;
    bottom:2.5rem;
    left:2.5rem;
    right:2.5rem;
  }
}

@include desktop{
  .main{
  }
}