@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.header{
  display: flex;
  align-items: flex-end;
}

.resumeItem {
  padding:2.5rem;
  border-bottom: $darker 1px solid;

  h2{
    text-transform: uppercase;
    font-size: 3.2rem;
    margin:0 0 .5rem 0;
    small{
      margin-left:.5rem;
      font-size: 1.6rem;
      color:$white;
    }
  }

  p{
    color: rgba($white, 0.6);
    margin:0;
  }
}

