@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.detail{
  visibility: hidden;
  opacity: 0;
  background:$white;
  height: 0;
  width: 0;
}

.detailBody{
  padding:2.5rem;
  background:$white;
}

.detailOpen{
  @extend .detail;
  position: absolute;
  bottom:6rem;
  left:0;
  right:0;
  margin:0 -2.5rem;
  width:100vw;
  height: 50vh;
  visibility: visible;
  opacity: 1;
  h2{
    margin: 0 0 1rem 0;
  }

  p {
    margin: 0 0 1.5rem 0;
    color: $darkgray-light;
  }
}

.skills{
  color:$white;
  display: flex;
  position: relative;
}

.skill{
  button{
    width:4rem;
    height: 4rem;
    margin: 0 .5rem;
    background: $black;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    font-size: 2.1rem;
    text-align: center;
    padding-top:0;
  }
}

.skillActive{
  @extend .skill;
  button{
    background: $white;
  }
}

@include tablet{
  .skill{
    button{
      width:5rem;
      height: 5rem;
      margin-right: 1.5rem;
      font-size: 2.8rem;
      text-align: center;
      padding-top:.2rem;
    }
  }

}