@import '../../../styles/variables';
@import '../../../styles/mixins';

.list {
  width:100vw;
  @include background(3)
}

@include tablet{
  .list{
    width:$tabletWidth / 2;
    height: 100vh;
    overflow: auto;
  }
}

@include desktop{
  .list{
    width:100%;
    height: 100vh;
    overflow: auto;
  }
}